/* typography.css — базовые стили текста */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;800&display=swap');

body {
  font-family: var(--font-main);
  color: var(--color-text);
  line-height: 1.6;
  background: linear-gradient(to bottom right, #D669B4, #A85DE5),
              url('/assets/bg.jpg');
  background-blend-mode: multiply;
  background-size: cover;
}


h1, h2, h3 {
  font-weight: 800;
}
