/* variables.css — CSS-переменные (цвета, размеры и т.п.) */
:root {
  --color-gradient-start-bg: #9E4BE2;
  --color-gradient-end-bg: #C93B9C;
  --color-bg: #9E4BE2;
  --color-text: #ffffff;
  --color-accent: #00C9C8; /* мятный */
  --color-accent-alt: #FF6F61; /* кораллово-розовый */
  --color-button-primary: #006C91;
  --color-button-secondary: #ffffff;
  --color-surface: rgba(255, 255, 255, 0.1);

  --navbar-bg-color: #3a3d96;
  --navbar-color: white;
  
  --card-bg: #006C91;
  --card-border: 1px solid #00beff;

  --font-main: 'Exo 2', sans-serif;
}