/* variables.css — CSS-переменные (цвета, размеры и т.п.) */
:root {
  --color-bg: #D669B4; /* насыщенно-розовый фиолетовый */
  --color-text: #ffffff;
  --color-accent: #00C9C8; /* мятный */
  --color-accent-alt: #FF6F61; /* кораллово-розовый */
  --color-button-primary: #006C91;
  --color-button-secondary: #ffffff;
  --color-surface: rgba(255, 255, 255, 0.1);

  --font-main: 'Exo 2', sans-serif;
}